nav {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 14px;
    background-color: #181818;
}

nav h2 {
    color: white;
    cursor: pointer;
}

nav a {
    margin: 0px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 8px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.activo {
    border-bottom: 2px solid white;
}
